/**
* Your CSS here
**/

iframe {
    max-width: 100%;
}

body {
    font-family: 'BenchNine', sans-serif;
    
}

h1 {font-family: 'Merienda', cursive;
    color:yellow;
    font-size: 60px
} 


h2 { 
    font-family: 'Merriweather', cursive;
    color:#4bbd31;
    padding-left: 10px
}

.dark{
    background-color: darkgreen;
    color: white;
    
}

.light{
    background-color: white;
    color: darkgreen;
}
ol{ padding-inline-start: 0px;}

.title{ 
    background-image: url(../images/amazon-river.jpg);
    background-size: cover;

}

.gallery{ 
    display: flex;
}

.gallery img{ 
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery-window{
    overflow: scroll;
    width: 100%
}

.instagram{
    overflow: scroll;
    width:100%;
}

section{ padding-left: 1%;
padding-right: 1%;}

ol.Exciting-activities-list{
    margin-left: 20px
}
/* 
img.toucan{max-width: 40%; }
img.jaguar{max-width: 50%;} */

.animals{ display: grid;
          grid-template-columns: 1fr 1fr ;
}

ol.worried-about-heights{ 
    margin-left: 20px 
}

ol.app{
    margin-left: 20px
}